/* MadCap Table Style: */

/*<meta sourceDocument="C:\00Perforce\AppPortal\Current\Docs\InstallGuideTEST\AppPortalInstallGuide.book" Version="9" />*/

mcTableStyle
{
	name: PartNumberTable;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 9pt;
	margin-bottom: 18pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
	border-left-style: none;
	cell-padding-top: 0pt;
	cell-padding-left: 5pt;
	cell-padding-right: 0pt;
	cell-padding-bottom: 3pt;
	max-id: 4;
}

mcTableColumnStyle
{
	separator-style: none;
	ruler-style: none;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 2;
	separator-style: none;
	ruler-style: none;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 2;
	separator-style: none;
	ruler-style: none;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-PartNumberTable
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-right-style: none;
	border-right-color: #000000;
	border-top-style: none;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-color: #000000;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 9pt;
	margin-bottom: 18pt;
	border-spacing: 0px 0px;
}

.TableStyle-PartNumberTable-Column-Column1
{
	
}

.TableStyle-PartNumberTable-Head-Header1
{
	
}

.TableStyle-PartNumberTable-HeadI-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-PartNumberTable-HeadI-Column1-Header1 p
{
	
}

.TableStyle-PartNumberTable-HeadE-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-PartNumberTable-HeadE-Column1-Header1 p
{
	
}

.TableStyle-PartNumberTable-HeadF-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-PartNumberTable-HeadF-Column1-Header1 p
{
	
}

.TableStyle-PartNumberTable-HeadH-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-PartNumberTable-HeadH-Column1-Header1 p
{
	
}

.TableStyle-PartNumberTable-HeadD-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
}

.TableStyle-PartNumberTable-HeadD-Column1-Header1 p
{
	
}

.TableStyle-PartNumberTable-HeadC-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-PartNumberTable-HeadC-Column1-Header1 p
{
	
}

.TableStyle-PartNumberTable-HeadB-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-PartNumberTable-HeadB-Column1-Header1 p
{
	
}

.TableStyle-PartNumberTable-HeadA-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
}

.TableStyle-PartNumberTable-HeadA-Column1-Header1 p
{
	
}

.TableStyle-PartNumberTable-HeadG-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
}

.TableStyle-PartNumberTable-HeadG-Column1-Header1 p
{
	
}

.TableStyle-PartNumberTable-Foot-Footer1
{
	
}

.TableStyle-PartNumberTable-FootI-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-PartNumberTable-FootI-Column1-Footer1 p
{
	
}

.TableStyle-PartNumberTable-FootE-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-PartNumberTable-FootE-Column1-Footer1 p
{
	
}

.TableStyle-PartNumberTable-FootF-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-PartNumberTable-FootF-Column1-Footer1 p
{
	
}

.TableStyle-PartNumberTable-FootH-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-PartNumberTable-FootH-Column1-Footer1 p
{
	
}

.TableStyle-PartNumberTable-FootD-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
}

.TableStyle-PartNumberTable-FootD-Column1-Footer1 p
{
	
}

.TableStyle-PartNumberTable-FootC-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-PartNumberTable-FootC-Column1-Footer1 p
{
	
}

.TableStyle-PartNumberTable-FootB-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-PartNumberTable-FootB-Column1-Footer1 p
{
	
}

.TableStyle-PartNumberTable-FootA-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
}

.TableStyle-PartNumberTable-FootA-Column1-Footer1 p
{
	
}

.TableStyle-PartNumberTable-FootG-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
}

.TableStyle-PartNumberTable-FootG-Column1-Footer1 p
{
	
}

.TableStyle-PartNumberTable-Body-Body1
{
	
}

.TableStyle-PartNumberTable-BodyI-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-PartNumberTable-BodyI-Column1-Body1 p
{
	
}

.TableStyle-PartNumberTable-BodyE-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-PartNumberTable-BodyE-Column1-Body1 p
{
	
}

.TableStyle-PartNumberTable-BodyF-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-PartNumberTable-BodyF-Column1-Body1 p
{
	
}

.TableStyle-PartNumberTable-BodyH-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-PartNumberTable-BodyH-Column1-Body1 p
{
	
}

.TableStyle-PartNumberTable-BodyD-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
}

.TableStyle-PartNumberTable-BodyD-Column1-Body1 p
{
	
}

.TableStyle-PartNumberTable-BodyC-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-PartNumberTable-BodyC-Column1-Body1 p
{
	
}

.TableStyle-PartNumberTable-BodyB-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-PartNumberTable-BodyB-Column1-Body1 p
{
	
}

.TableStyle-PartNumberTable-BodyA-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
}

.TableStyle-PartNumberTable-BodyA-Column1-Body1 p
{
	
}

.TableStyle-PartNumberTable-BodyG-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
}

.TableStyle-PartNumberTable-BodyG-Column1-Body1 p
{
	
}

.TableStyle-PartNumberTable-Body-Body2
{
	
}

.TableStyle-PartNumberTable-BodyI-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-PartNumberTable-BodyI-Column1-Body2 p
{
	
}

.TableStyle-PartNumberTable-BodyE-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-PartNumberTable-BodyE-Column1-Body2 p
{
	
}

.TableStyle-PartNumberTable-BodyF-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-PartNumberTable-BodyF-Column1-Body2 p
{
	
}

.TableStyle-PartNumberTable-BodyH-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-PartNumberTable-BodyH-Column1-Body2 p
{
	
}

.TableStyle-PartNumberTable-BodyD-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
}

.TableStyle-PartNumberTable-BodyD-Column1-Body2 p
{
	
}

.TableStyle-PartNumberTable-BodyC-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-PartNumberTable-BodyC-Column1-Body2 p
{
	
}

.TableStyle-PartNumberTable-BodyB-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
	border-right-style: none;
}

.TableStyle-PartNumberTable-BodyB-Column1-Body2 p
{
	
}

.TableStyle-PartNumberTable-BodyA-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
}

.TableStyle-PartNumberTable-BodyA-Column1-Body2 p
{
	
}

.TableStyle-PartNumberTable-BodyG-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 0pt;
	padding-top: 0pt;
	padding-bottom: 3pt;
	border-bottom-style: none;
}

.TableStyle-PartNumberTable-BodyG-Column1-Body2 p
{
	
}


