/* MadCap Table Style: */

mcTableStyle {
	name: Table_in_Procedure; 
	margin-left: .25in; 
	margin-right: 0in; 
	margin-top: 9pt; 
	margin-bottom: 11pt; 
	border-spacing-x: 0; 
	border-spacing-y: 0; 
	border-collapse: collapse; 
	border-left-color: #a1a1a1; 
	border-right-color: #dddddd; 
	border-top-color: #DDDDDD; 
	border-bottom-color: #DDDDDD; 
	border-top-style: solid; 
	border-top-width: 1px; 
	border-bottom-style: solid; 
	border-bottom-width: 1px; 
	border-right-style: solid; 
	border-right-width: 0px; 
	border-left-style: solid; 
	border-left-width: 0px; 
	cell-padding-top: 0; 
    cell-padding-bottom: 7px; 
	cell-padding-left: 5pt; 
	cell-padding-right: 6pt; 
}

mcTableColumnStyle {
	span: 1; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #a1a1a1; 
	 
}

mcTableColumnStyle {
	span: 2; 
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #a1a1a1; 
}

mcTableHeadStyle {
	span: 1; 
	background-color: #EEEEEE;  
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #a1a1a1; 
}

mcTableBodyStyle {
	separator-style: solid; 
	separator-width: 1px; 
	separator-color: #a1a1a1; 
}

mcTableFootStyle {
}

 
 
/* Cell Styles: */
 
/*<meta />*/

.TableStyle_Table_in_Procedure
{
	border-left-style: solid;
	border-left-color: #a1a1a1;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #c8c8c8;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #DDDDDD;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #DDDDDD;
	border-bottom-width: 1px;
	margin-left: .25in;
	margin-right: 0in;
	margin-top: 6pt;
	margin-bottom: 11pt;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	mc-cell-padding: 6pt 6pt 8pt 8pt;
	width: 97%!important;
}

.TableStyle_Table_in_Procedure td 
{
    vertical-align: top; 
}





.TableStyle_Table_in_Procedure_Head_0_0
{
	background-color: #EEEEEE; 
	padding-left: 8pt;
	padding-right: 6pt;
	padding-top: 4px;
	padding-bottom: 7px;
	border-right-width: 0px;
	border-right-color: #dddddd;
	border-right-style: solid;
}

.TableStyle_Table_in_Procedure_Head_0_0 p
{
	
}

.TableStyle_Table_in_Procedure_Head_0_0_RowSep_ColSep
{
	background-color: #EEEEEE; 
	border-bottom-width: 0px;
	border-bottom-color: #c8c8c8;
	border-bottom-style: solid;
	border-right-width: 0px;
	border-right-color: #ffffff;
	border-right-style: solid;
	border-left-width: 0;
	border-left-color: #9B9B9B;
	border-left-style: solid;
	padding-left: 8pt;
	padding-right: 6pt;
	padding-top: 4px;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Head_0_0_RowSep_ColSep:first-child {
	border-left-width: 0px!important;
	border-left-color: #c8c8c8;
	border-left-style: solid;

}


.TableStyle_Table_in_Procedure_Head_0_0_RowSep_ColSep p
{
	
}

.TableStyle_Table_in_Procedure_Head_0_0_RowSep
{
	background-color: #EEEEEE; 
	border-bottom-width: 0px;
	border-bottom-color: #c8c8c8;
	border-bottom-style: solid;
	padding-left: 8pt;
	padding-right: 6pt;
	padding-top: 4px;
	padding-bottom: 7px;
	border-right-width: 0px;
	border-right-color: #dddddd;
	border-right-style: solid;
}

.TableStyle_Table_in_Procedure_Head_0_0_RowSep p
{
	
}

.TableStyle_Table_in_Procedure_Head_0_0_ColSep
{
	
	background-color: #EEEEEE; 
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 4px;
	padding-bottom: 7px;
	border-right-width: 0px;
	border-right-color: #dddddd;
	border-right-style: solid;
}

.TableStyle_Table_in_Procedure_Head_0_0_ColSep p
{
	
}

.TableStyle_Table_in_Procedure_Head_0_0_RowSep_ColEnd
{
	background-color: #EEEEEE; 
	border-bottom-width: 0px;
	border-bottom-color: #c8c8c8;
	border-bottom-style: solid;
	border-right-width: 0px!important;
	border-right-color: #c8c8c8;
	border-right-style: solid;
	padding-left: 8pt;
	padding-right: 6pt;
	padding-top: 4px;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Head_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_Table_in_Procedure_Head_0_0_RowEnd
{
	background-color: #EEEEEE; 
	padding-left: 8pt;
	padding-right: 6pt;
	padding-top: 4px;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Head_0_0_RowEnd p
{
	
}

.TableStyle_Table_in_Procedure_Head_0_0_RowEnd_ColSep
{
	
	background-color: #EEEEEE; 
	padding-left: 8pt;
	padding-right: 6pt;
	padding-top: 4px;
	padding-bottom: 7px;
	border-right-width: 0px;
	border-right-color: #dddddd;
	border-right-style: solid;
}

.TableStyle_Table_in_Procedure_Head_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_Table_in_Procedure_Head_0_0_RowEnd_ColEnd
{
	background-color: #EEEEEE; 
	padding-left: 8pt;
	padding-right: 6pt;
	padding-top: 4px;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Head_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Table_in_Procedure_Head_0_0_ColEnd
{
	background-color: #EEEEEE; 
	padding-left: 8pt;
	padding-right: 6pt;
	padding-top: 4px;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Head_0_0_ColEnd p
{
	
}

.TableStyle_Table_in_Procedure_Head_0_1
{
	background-color: #FFFFFF;
	padding-left: 8pt;
	padding-right: 6pt;
	padding-top: 4px;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Head_0_1 p
{
	
}

.TableStyle_Table_in_Procedure_Head_0_1_RowSep_ColSep
{
	background-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-color: #DDDDDD;
	border-bottom-style: solid;
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
	border-right-width: 0px;
	border-right-color: #dddddd;
	border-right-style: solid;
}

.TableStyle_Table_in_Procedure_Head_0_1_RowSep_ColSep p
{
	
}

.TableStyle_Table_in_Procedure_Head_0_1_RowSep
{
	background-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-color: #DDDDDD;
	border-bottom-style: solid;
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Head_0_1_RowSep p
{
	
}

.TableStyle_Table_in_Procedure_Head_0_1_ColSep
{
	background-color: #FFFFFF;
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
	border-right-width: 0px;
	border-right-color: #dddddd;
	border-right-style: solid;
}

.TableStyle_Table_in_Procedure_Head_0_1_ColSep p
{
	
}

.TableStyle_Table_in_Procedure_Head_0_1_RowSep_ColEnd
{
	background-color: #EEEEEE; 
	border-bottom-width: 1px;
	border-bottom-color: #dddddd;
	border-bottom-style: solid;
	border-right-width: 1px!important;
	border-right-color: #c8c8c8;
	border-right-style: solid;
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 4px;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Head_0_1_RowSep_ColEnd p
{
	
}

.TableStyle_Table_in_Procedure_Head_0_1_RowEnd
{
	background-color: #FFFFFF;
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 4px;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Head_0_1_RowEnd p
{
	
}

.TableStyle_Table_in_Procedure_Head_0_1_RowEnd_ColSep
{
	background-color: #FFFFFF;
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
	border-right-width: 0px;
	border-right-color: #dddddd;
	border-right-style: solid;
}

.TableStyle_Table_in_Procedure_Head_0_1_RowEnd_ColSep p
{
	
}

.TableStyle_Table_in_Procedure_Head_0_1_RowEnd_ColEnd
{
	background-color: #FFFFFF;
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Head_0_1_RowEnd_ColEnd p
{
	
}

.TableStyle_Table_in_Procedure_Head_0_1_ColEnd
{
	background-color: #FFFFFF;
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Head_0_1_ColEnd p
{
	
}

.TableStyle_Table_in_Procedure_Body_0_0
{
	
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Body_0_0 p
{
	
}

.TableStyle_Table_in_Procedure_Body_0_0_RowSep_ColSep
{
	border-bottom-width: 1px;
	border-bottom-color: #DDDDDD;
	border-bottom-style: solid;
	
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
	border-right-width: 0px;
	border-right-color: #dddddd;
	border-right-style: solid;
}

.TableStyle_Table_in_Procedure_Body_0_0_RowSep_ColSep p
{
	
}

.TableStyle_Table_in_Procedure_Body_0_0_RowSep
{
	border-bottom-width: 1px;
	border-bottom-color: #DDDDDD;
	border-bottom-style: solid;
	
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Body_0_0_RowSep p
{
	
}

.TableStyle_Table_in_Procedure_Body_0_0_ColSep
{
	
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
	border-right-width: 0px;
	border-right-color: #dddddd;
	border-right-style: solid;
}

.TableStyle_Table_in_Procedure_Body_0_0_ColSep p
{
	
}

.TableStyle_Table_in_Procedure_Body_0_0_RowSep_ColEnd
{
	border-bottom-width: 1px;
	border-bottom-color: #DDDDDD;
	border-bottom-style: solid;
	
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Body_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_Table_in_Procedure_Body_0_0_RowEnd
{
	
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Body_0_0_RowEnd p
{
	
}

.TableStyle_Table_in_Procedure_Body_0_0_RowEnd_ColSep
{
	
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
	border-right-width: 0px;
	border-right-color: #dddddd;
	border-right-style: solid;
}

.TableStyle_Table_in_Procedure_Body_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_Table_in_Procedure_Body_0_0_RowEnd_ColEnd
{
	
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Body_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Table_in_Procedure_Body_0_0_ColEnd
{
	
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Body_0_0_ColEnd p
{
	
}

.TableStyle_Table_in_Procedure_Body_0_1
{
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Body_0_1 p
{
	
}

.TableStyle_Table_in_Procedure_Body_0_1_RowSep_ColSep
{
	border-bottom-width: 1px;
	border-bottom-color: #DDDDDD;
	border-bottom-style: solid;
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
	border-right-width: 0px;
	border-right-color: #dddddd;
	border-right-style: solid;
}

.TableStyle_Table_in_Procedure_Body_0_1_RowSep_ColSep p
{
	
}

.TableStyle_Table_in_Procedure_Body_0_1_RowSep
{
	border-bottom-width: 1px;
	border-bottom-color: #DDDDDD;
	border-bottom-style: solid;
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Body_0_1_RowSep p
{
	
}

.TableStyle_Table_in_Procedure_Body_0_1_ColSep
{
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
	border-right-width: 0px;
	border-right-color: #dddddd;
	border-right-style: solid;
}

.TableStyle_Table_in_Procedure_Body_0_1_ColSep p
{
	
}

.TableStyle_Table_in_Procedure_Body_0_1_RowSep_ColEnd
{
	border-bottom-width: 1px;
	border-bottom-color: #DDDDDD;
	border-bottom-style: solid;
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Body_0_1_RowSep_ColEnd p
{
	
}

.TableStyle_Table_in_Procedure_Body_0_1_RowEnd
{
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Body_0_1_RowEnd p
{
	
}

.TableStyle_Table_in_Procedure_Body_0_1_RowEnd_ColSep
{
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
	border-right-width: 0px;
	border-right-color: #dddddd;
	border-right-style: solid;
}

.TableStyle_Table_in_Procedure_Body_0_1_RowEnd_ColSep p
{
	
}

.TableStyle_Table_in_Procedure_Body_0_1_RowEnd_ColEnd
{
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Body_0_1_RowEnd_ColEnd p
{
	
}

.TableStyle_Table_in_Procedure_Body_0_1_ColEnd
{
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Body_0_1_ColEnd p
{
	
}

.TableStyle_Table_in_Procedure_Foot_0_0
{
	
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Foot_0_0 p
{
	
}

.TableStyle_Table_in_Procedure_Foot_0_0_RowSep_ColSep
{
	
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
	border-right-width: 0px;
	border-right-color: #dddddd;
	border-right-style: solid;
}

.TableStyle_Table_in_Procedure_Foot_0_0_RowSep_ColSep p
{
	
}

.TableStyle_Table_in_Procedure_Foot_0_0_RowSep
{
	
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Foot_0_0_RowSep p
{
	
}

.TableStyle_Table_in_Procedure_Foot_0_0_ColSep
{
	
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
	border-right-width: 0px;
	border-right-color: #dddddd;
	border-right-style: solid;
}

.TableStyle_Table_in_Procedure_Foot_0_0_ColSep p
{
	
}

.TableStyle_Table_in_Procedure_Foot_0_0_RowSep_ColEnd
{
	
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Foot_0_0_RowSep_ColEnd p
{
	
}

.TableStyle_Table_in_Procedure_Foot_0_0_RowEnd
{
	
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Foot_0_0_RowEnd p
{
	
}

.TableStyle_Table_in_Procedure_Foot_0_0_RowEnd_ColSep
{
	
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
	border-right-width: 0px;
	border-right-color: #dddddd;
	border-right-style: solid;
}

.TableStyle_Table_in_Procedure_Foot_0_0_RowEnd_ColSep p
{
	
}

.TableStyle_Table_in_Procedure_Foot_0_0_RowEnd_ColEnd
{
	
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Foot_0_0_RowEnd_ColEnd p
{
	
}

.TableStyle_Table_in_Procedure_Foot_0_0_ColEnd
{
	
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Foot_0_0_ColEnd p
{
	
}

.TableStyle_Table_in_Procedure_Foot_0_1
{
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Foot_0_1 p
{
	
}

.TableStyle_Table_in_Procedure_Foot_0_1_RowSep_ColSep
{
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
	border-right-width: 0px;
	border-right-color: #dddddd;
	border-right-style: solid;
}

.TableStyle_Table_in_Procedure_Foot_0_1_RowSep_ColSep p
{
	
}

.TableStyle_Table_in_Procedure_Foot_0_1_RowSep
{
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Foot_0_1_RowSep p
{
	
}

.TableStyle_Table_in_Procedure_Foot_0_1_ColSep
{
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
	border-right-width: 0px;
	border-right-color: #dddddd;
	border-right-style: solid;
}

.TableStyle_Table_in_Procedure_Foot_0_1_ColSep p
{
	
}

.TableStyle_Table_in_Procedure_Foot_0_1_RowSep_ColEnd
{
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Foot_0_1_RowSep_ColEnd p
{
	
}

.TableStyle_Table_in_Procedure_Foot_0_1_RowEnd
{
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Foot_0_1_RowEnd p
{
	
}

.TableStyle_Table_in_Procedure_Foot_0_1_RowEnd_ColSep
{
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
	border-right-width: 0px;
	border-right-color: #dddddd;
	border-right-style: solid;
}

.TableStyle_Table_in_Procedure_Foot_0_1_RowEnd_ColSep p
{
	
}

.TableStyle_Table_in_Procedure_Foot_0_1_RowEnd_ColEnd
{
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Foot_0_1_RowEnd_ColEnd p
{
	
}

.TableStyle_Table_in_Procedure_Foot_0_1_ColEnd
{
	padding-left: 8pt;
	padding-right: 6pt;
    padding-top: 0;
	padding-bottom: 7px;
}

.TableStyle_Table_in_Procedure_Foot_0_1_ColEnd p
{
	
}

