/*<meta sourceDocument="C:\perforce\AppPortal\Current\Docs\FSG\FSG_2.0\FSGInstall_HelpNet.book" />*/

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

body
{
	margin-left: 18px;
	margin-right: 20px;
	margin-top: 9px;
	font-family: Calibri, Segoe UI, Verdana, Tahoma, Arial;
	font-size: 100%;
}

p
{
	font-family: Calibri, Segoe UI, Verdana, Tahoma, Arial;
	font-size: 1em;
	line-height: 140%;
	color: #333333;
	letter-spacing: -0.02em;
}

table
{
	font-family: Calibri, Segoe UI, Verdana, Tahoma, Arial;
	line-height: 140%;
	color: #333333;
	font-size: 1em;
}

p.tun_Tutorial_Navigation,
p.tn_Tutorial_Navigation
{
	color: #333333;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: bold;
}

p.a_Body
{
	margin-top: 9px;
	margin-bottom: 9px;
}

p.a2_Body2,
p.al_Body_Under_List
{
	margin-left: .25in;
	margin-top: 9px;
	margin-bottom: 9px;
}

p.a3_Body3,
p.ali_Body_Under_List_Indented
{
	margin-left: .5in;
	margin-top: 9px;
	margin-bottom: 9px;
}

p.a4_Body4,
p.alit_Body_Under_List_Indented_Twice
{
	margin-left: .75in;
	margin-top: 9px;
	margin-bottom: 9px;
}

p.an_Advanced_Note,
p.ano_Advanced_Note,
p.bp_Best_Practice,
p.bpb1f_Best_Practice_Bulleted1_First,
p.bpn1f_Best_Practice_Numbered1_First,
p.bp2_Best_Practice2,
p.bpr_Best_Practice_Relative,
p.bpl_Best_Practice_Under_List,
p.bp3_Best_Practice3,
p.bpri_Best_Practice_Relative_Indented,
p.bpli_Best_Practice_Under_List_Indented,
p.c_Caution,
p.cb1f_Caution_Bulleted1_First,
p.cn1f_Caution_Numbered1_First,
p.c2_Caution2,
p.cr_Caution_Relative,
p.cl_Caution_Under_List,
p.c3_Caution3,
p.cri_Caution_Relative_Indented,
p.cli_Caution_Under_List_Indented,
p.esn_Edition-Specific_Note,
p.esn_Edition_Specific_Note,
p.esnams_Edition-Specific_Note_AMS,
p.esnams_Edition_Specific_Note_AMS,
p.esnstd_Edition-Specific_Note_Standard,
p.esnstd_Edition_Specific_Note_Standard,
p.esnent_Edition-Specific_Note_Enterprise,
p.esnent_Edition_Specific_Note_Enterprise,
p.esnpro_Edition-Specific_Note_Professional,
p.esnpro_Edition_Specific_Note_Professional,
p.esn2_Edition-Specific_Note2,
p.esn2_Edition_Specific_Note2,
p.esnr_Edition_Specific_Note_Relative,
p.esnl_Edition_Specific_Note_Under_List,
p.esn3_Edition-Specific_Note3,
p.esn3_Edition_Specific_Note3,
p.esnri_Edition_Specific_Note_Relative_Indented,
p.esnli_Edition_Specific_Note_Under_List_Indented,
p.ino_Important_Note,
p.inob1f_Important_Note_Bulleted1_First,
p.inon1f_Important_Note_Numbered1_First,
p.ino2_Important_Note2,
p.inor_Important_Note_Relative,
p.inol_Important_Note_Under_List,
p.ino3_Important_Note3,
p.inori_Important_Note_Relative_Indented,
p.inoli_Important_Note_Under_List_Indented,
p.no_Note,
p.non1f_Note_Numbered1_First,
p.psn2_Project-Specific_Note2,
p.psn2_Project_Specific_Note2,
p.psnl_Project_Specific_Note_Under_List,
p.psnr_ProjectSpecificNote_Relative,
p.psn3_Project-Specific_Note3,
p.psn3_Project_Specific_Note3,
p.psnli_Project_Specific_Note_Under_List_Indented,
p.psnri_Project_Specific_Note_Relative_Indented,
p.sn_Security_Note,
p.sn2_Security_Note2,
p.snr_Security_Note_Relative,
p.snl_Security_Note_Under_List,
p.sn3_Security_Note3,
p.snri_Security_Note_Relative_Indented,
p.vn_Version_Note,
p.vnb1f_Version_Note_Bulleted1_First,
p.vnn1f_Version_Note_Numbered1_First,
p.vn2_Version_Note2,
p.vnr_Version_Note_Relative,
p.vnl_Version_Note_Under_List,
p.vn3_Version_Note3,
p.vnri_Version_Note_Relative_Indented,
p.vnli_Version_Note_Under_List_Indented,
p.wl_Windows_Logo,
p.wlb1f_Windows_Logo_Bulleted1_First,
p.wln1f_Windows_Logo_Numbered1_First,
p.wl2_Windows_Logo2,
p.wlr_Windows_Logo_Guideline_Relative,
p.wll_Windows_Logo_Guideline_Under_List,
p.wl3_Windows_Logo3,
p.wlri_Windows_Logo_Guideline_Relative_Indented,
p.wlli_Windows_Logo_Guideline_Under_List_Indented,
p.ti_Tip,
p.tib1f_Tip_Bulleted1_First,
p.tin1f_Tip_Numbered1_First,
p.psn_Project-Specific_Note,
p.psn_Project_Specific_Note,
p.no2_Note2,
p.nol_Note_Under_List,
p.nor_Note_Relative,
p.ti2_Tip2,
p.til_Tip_Under_List,
p.tir_Tip_Relative,
p.ti3_Tip3,
p.tili_Tip_Under_List_Indented,
p.tiri_Tip_Relative_Indented,
p.no3_Note3,
p.noli_Note_Under_List_Indented,
p.nori_Note_Relative_Indented
{
	color: #333333;
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0;
	mc-auto-number-class: notename;
	margin-top: 15px;
	margin-bottom: 0;
	background-repeat: no-repeat;
	background-position-x: 9px;
	background-position-y: 9px;
	padding-bottom: 4px;
	background-color: #EBEBEB;
	padding-top: 9px;
	padding-bottom: 11px;
	padding-right: 12px;
	border-top: 0px solid #CCCCCC;
	font-style: normal;
	padding-left: 34px;
}

p.an_Advanced_Note,
p.ano_Advanced_Note
{
	mc-auto-number-format: 'Advanced Note • ';
	background-image: url('Images/note_advanced.png');
}

p.b_Bulleted
{
	margin-left: .25in;
	margin-top: 9px;
	margin-bottom: 9px;
	mc-auto-number-format: '• ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 24px;
	mc-auto-number-class: z_BulletsBig;
}

p.b2_Bulleted2
{
	margin-left: .5in;
	margin-top: 9px;
	margin-bottom: 9px;
	mc-auto-number-format: '• ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 24px;
	mc-auto-number-class: z_BulletsTable;
}

p.b3_Bulleted3
{
	margin-left: .75in;
	margin-top: 9px;
	margin-bottom: 9px;
	mc-auto-number-format: '• ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 24px;
	mc-auto-number-class: z_BulletsGray;
}

p.bc_Breadcrumb
{
	text-align: right;
	margin-right: .35in;
	margin-top: 0;
	margin-bottom: 9px;
	font-weight: bold;
	color: #959595;
}

p.bp_Best_Practice
{
	mc-auto-number-format: 'Best Practice • ';
	background-image: url('Images/note_bp.png');
}

p.bp2_Best_Practice2
{
	margin-left: .25in;
	mc-auto-number-format: 'Best Practice • ';
	background-image: url('Images/note_bp.png');
}

p.bp3_Best_Practice3
{
	margin-left: .5in;
	mc-auto-number-format: 'Best Practice • ';
	background-image: url('Images/note_bp.png');
}

p.c_Caution
{
	mc-auto-number-format: 'Caution • ';
	background-image: url('Images/note_caution.png');
}

p.c2_Caution2
{
	margin-left: .25in;
	mc-auto-number-format: 'Caution • ';
	background-image: url('Images/note_caution.png');
}

p.c3_Caution3
{
	margin-left: .5in;
	mc-auto-number-format: 'Caution • ';
	background-image: url('Images/note_caution.png');
}

p.cl_Command-Line_Statement,
p.cl_Command_Line_Statement
{
	margin-left: 0;
	margin-top: 9px;
	margin-bottom: 0;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
	padding-left: 22px;
	text-indent: -22px;
}

p.cl2_Command-Line_Statement2,
p.cl2_Command_Line_Statement2
{
	margin-left: .25in;
	margin-top: 9px;
	margin-bottom: 0;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
	padding-left: 22px;
	text-indent: -22px;
}

p.cl3_Command-Line_Statement3,
p.cl3_Command_Line_Statement3
{
	margin-left: .5in;
	margin-top: 9px;
	margin-bottom: 0;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
	padding-left: 22px;
	text-indent: -22px;
}

p.cl4_Command-Line_Statement4,
p.cl4_Command_Line_Statement4
{
	margin-left: .75in;
	margin-top: 9px;
	margin-bottom: 0;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
	padding-left: 22px;
	text-indent: -22px;
}

p.co_Code
{
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
}

p.co2_Code2
{
	margin-left: .25in;
	margin-top: 0;
	margin-bottom: 0;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
}

p.co3_Code3
{
	margin-left: .5in;
	margin-top: 0;
	margin-bottom: 0;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
}

p.co4_Code4
{
	margin-left: .75in;
	margin-top: 0;
	margin-bottom: 0;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
}

p.cof_Code_First
{
	margin-left: 0;
	margin-top: 9px;
	margin-bottom: 0;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
}

p.cof2_Code_First2
{
	margin-left: .25in;
	margin-top: 9px;
	margin-bottom: 0;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
}

p.cof3_Code_First3
{
	margin-left: .5in;
	margin-top: 9px;
	margin-bottom: 0;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
}

p.cof4_Code_First4
{
	margin-left: .75in;
	margin-top: 9px;
	margin-bottom: 0;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
}

p.cow_Code_Wide
{
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
}

p.cowf_Code_Wide_First
{
	margin-left: 0;
	margin-top: 9px;
	margin-bottom: 0;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
}

p.pt_Part_Title,
p.ct_Chapter_Title,
p.h1_Heading1,
p.h1t_Heading1_Top,
p.h2_Heading2,
p.h3_Heading3,
p.h4_Heading4,
p.h5_Heading5,
p.h6_Heading6
{
	font-size: 2em;
	margin-top: 0;
	margin-bottom: 7px;
	color: #00A1DE;
	font-weight: bold;
	font-family: Calibri, 'Segoe UI', Verdana, Tahoma, Arial;
	letter-spacing: -0.02em;
}

h1.pt_Part_Title,
h1.ct_Chapter_Title,
h1.h1_Heading1,
h1.h1t_Heading1_Top,
h1.h2_Heading2,
h1.h3_Heading3,
h1.h4_Heading4,
h1.h5_Heading5,
h1.h6_Heading6
{
	font-size: 2em;
	margin-top: 0;
	margin-bottom: 7px;
	color: #00A1DE;
	font-weight: bold;
	font-family: Calibri, 'Segoe UI', Verdana, Tahoma, Arial;
	letter-spacing: -0.02em;
}

h1
{
	font-size: 2em;
	margin-top: 0;
	margin-bottom: 7px;
	color: #00A1DE;
	font-weight: bold;
	font-family: Calibri, 'Segoe UI', Verdana, Tahoma, Arial;
	letter-spacing: -0.02em;
}

h2,
h3
{
	vertical-align: top;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	font-family: Calibri, 'Segoe UI', Verdana, Tahoma, Arial;
}

h2
{
	font-weight: normal;
}

h3
{
	font-weight: normal;
}

p.dp_Directory_Path
{
	margin-left: 0;
	margin-top: 9px;
	margin-bottom: 0;
	font-weight: bold;
}

p.dp2_Directory_Path2
{
	margin-left: .25in;
	margin-top: 9px;
	margin-bottom: 0;
	font-weight: bold;
}

p.dp3_Directory_Path3
{
	margin-left: .5in;
	margin-top: 9px;
	margin-bottom: 0;
	font-weight: bold;
}

p.dp4_Directory_Path4
{
	margin-left: .75in;
	margin-top: 9px;
	margin-bottom: 0;
	font-weight: bold;
}

p.esn_Edition-Specific_Note,
p.esn_Edition_Specific_Note
{
	mc-auto-number-format: 'Edition • ';
	background-image: url('Images/note_edition.png');
}

p.esn2_Edition-Specific_Note2,
p.esn2_Edition_Specific_Note2
{
	margin-left: .25in;
	mc-auto-number-format: 'Edition • ';
	background-image: url('Images/note_edition.png');
}

p.esn3_Edition-Specific_Note3,
p.esn3_Edition_Specific_Note3
{
	margin-left: .5in;
	mc-auto-number-format: 'Edition • ';
	background-image: url('Images/note_edition.png');
}

p.hsa_Heading_See_Also
{
	margin-top: 22px;
	margin-bottom: 0;
	font-weight: bold;
	color: #333333;
}

p.ic_Image_Caption
{
	margin-top: -9px;
	padding-top: 0;
	margin-bottom: 15px;
	color: #6e6e6e;
	font-style: normal;
	font-weight: normal;
	font-size: .85em;
}

p.ic2_Image_Caption2
{
	margin-left: .25in;
	margin-top: -9px;
	padding-top: 0;
	margin-bottom: 15px;
	color: #6e6e6e;
	font-style: normal;
	font-weight: normal;
	font-size: .95em;
}

p.ic3_Image_Caption3
{
	margin-left: .5in;
	margin-top: -9px;
	padding-top: 0;
	margin-bottom: 15px;
	color: #6e6e6e;
	font-style: normal;
	font-weight: normal;
	font-size: .95em;
}

p.ic4_Image_Caption4
{
	margin-left: .75in;
	margin-top: -9px;
	padding-top: 0;
	margin-bottom: 15px;
	color: #6e6e6e;
	font-style: normal;
	font-weight: normal;
	font-size: .95em;
}

p.ini_INI_File
{
	margin-left: 0;
	margin-top: 9px;
	margin-bottom: 0;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
}

p.ini2_INI_File2
{
	margin-left: .25in;
	margin-top: 9px;
	margin-bottom: 0;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
}

p.ini3_INI_File3
{
	margin-left: .5in;
	margin-top: 9px;
	margin-bottom: 0;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
}

p.ini4_INI_File4
{
	margin-left: .75in;
	margin-top: 9px;
	margin-bottom: 0;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
}

p.ino_Important_Note
{
	mc-auto-number-format: 'Important • ';
	background-image: url('Images/note_important.png');
}

p.ino2_Important_Note2
{
	margin-left: .25in;
	mc-auto-number-format: 'Important • ';
	background-image: url('Images/note_important.png');
}

p.ino3_Important_Note3
{
	margin-left: .5in;
	mc-auto-number-format: 'Important • ';
	background-image: url('Images/note_important.png');
}

p.n_Numbered
{
	margin-left: .25in;
	margin-top: 9px;
	margin-bottom: 9px;
	mc-auto-number-format: 'a:{n+}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 24px;
	mc-auto-number-class: z_Numbered_List_Number;
}

p.n2_Numbered2
{
	margin-left: .5in;
	margin-top: 9px;
	margin-bottom: 9px;
	mc-auto-number-format: 'a:{n+}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 24px;
	mc-auto-number-class: z_Numbered_List_Number;
}

p.na2_Numbered_Alpha2
{
	margin-left: .5in;
	margin-top: 9px;
	margin-bottom: 9px;
	mc-auto-number-format: 'd:{a+}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 24px;
	mc-auto-number-class: z_Numbered_List_Number;
}

p.n3_Numbered3
{
	margin-left: .75in;
	margin-top: 9px;
	margin-bottom: 9px;
	mc-auto-number-format: 'a:{n+}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 24px;
	mc-auto-number-class: z_Numbered_List_Number;
}

p.na3_Numbered_Alpha3
{
	margin-left: .75in;
	margin-top: 9px;
	margin-bottom: 9px;
	mc-auto-number-format: 'd:{a+}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 24px;
	mc-auto-number-class: z_Numbered_List_Number;
}

p.nr3_Numbered_Roman3
{
	margin-left: .75in;
	margin-top: 9px;
	margin-bottom: 9px;
	mc-auto-number-format: 'd:{r+}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 24px;
	mc-auto-number-class: z_Numbered_List_Number;
}

p.nf_Numbered_First
{
	margin-left: .25in;
	margin-top: 9px;
	margin-bottom: 9px;
	mc-auto-number-format: 'a:{n=1}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 24px;
	mc-auto-number-class: z_Numbered_List_Number;
}

p.nf2_Numbered_First2
{
	margin-left: .5in;
	margin-top: 9px;
	margin-bottom: 9px;
	mc-auto-number-format: 'a:{n=1}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 24px;
	mc-auto-number-class: z_Numbered_List_Number;
}

p.nf3_Numbered_First3
{
	margin-left: .75in;
	margin-top: 9px;
	margin-bottom: 9px;
	mc-auto-number-format: 'a:{n=1}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 24px;
	mc-auto-number-class: z_Numbered_List_Number;
}

p.nfa2_Numbered_First_Alpha2
{
	margin-left: .5in;
	margin-top: 9px;
	margin-bottom: 9px;
	mc-auto-number-format: 'd:{a=1}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 24px;
	mc-auto-number-class: z_Numbered_List_Number;
}

p.nfa3_Numbered_First_Alpha3
{
	margin-left: .75in;
	margin-top: 9px;
	margin-bottom: 9px;
	mc-auto-number-format: 'd:{a=1}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 24px;
	mc-auto-number-class: z_Numbered_List_Number;
}

p.nfr3_Numbered_First_Roman3
{
	margin-left: .75in;
	margin-top: 9px;
	margin-bottom: 9px;
	mc-auto-number-format: 'd:{r=1}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 24px;
	mc-auto-number-class: z_Numbered_List_Number;
}

p.no_Note
{
	mc-auto-number-format: 'Note • ';
	background-image: url('Images/note.png');
}

p.nob_Note_Bullet
{
	color: #333333;
	margin-left: .528in;
	margin-top: 6px;
	margin-bottom: 6px;
	font-style: normal;
	mc-auto-number-format: '• ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 24px;
	mc-auto-number-class: z_BulletsBig;
	background-color: #EBEBEB;
}

p.nob2_Note_Bullet2
{
	color: black !important;
	margin-left: .778in;
	margin-top: 6px;
	margin-bottom: 6px;
	font-style: normal;
	mc-auto-number-format: '• ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 24px;
	mc-auto-number-class: z_BulletsBig;
	background-color: #EBEBEB;
}

p.nodp_Note_Directory_Path
{
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	color: #333333;
	font-weight: bold;
	background-color: #EBEBEB;
	padding-left: 34px;
	padding-bottom: 9px;
}

p.nos_Note_Syntax,
p.noini_Note_INI_File,
p.nocls_Note_Command-Line_Statement
{
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
	color: #333333;
	background-color: #EBEBEB;
	padding-left: 34px;
	padding-bottom: 9px;
}

p.nocf_Note_Code_First
{
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
	color: #333333;
	background-color: #EBEBEB;
	padding-left: 34px;
	padding-bottom: 0px;
}

p.noc_Note_Code,
p.noco_Note_Code
{
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
	color: #333333;
	background-color: #EBEBEB;
	padding-left: 34px;
	padding-bottom: 0;
}

p.nodp2_Note_Directory_Path2
{
	margin-left: .25in;
	margin-top: 0;
	margin-bottom: 0;
	color: #333333;
	font-weight: bold;
	background-color: #EBEBEB;
	padding-left: 34px;
	padding-bottom: 9px;
}

p.nos2_Note_Syntax2,
p.noini2_Note_INI_File2,
P.nocls2_Note_Command-Line_Statement2
{
	margin-left: .25in;
	margin-top: 0;
	margin-bottom: 0;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
	color: #333333;
	background-color: #EBEBEB;
	padding-left: 34px;
	padding-bottom: 9px;
}

p.nocf2_Note_Code_First2
{
	margin-left: .25in;
	margin-top: 0;
	margin-bottom: 0;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
	color: #333333;
	background-color: #EBEBEB;
	padding-left: 34px;
	padding-bottom: 0;
	padding-top: 0;
}

p.noso_Note_Screen_Output,
p.noso2_Note_Screen_Output2
{
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
	color: #333333;
	background-color: #EBEBEB;
	padding-left: 34px;
	padding-bottom: 9px;
}

p.noso2_Note_Screen_Output2
{
	margin-left: .25in;
}

p.noui_Note_User_Input,
p.noui2_Note_User_Input2
{
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: bold;
	background-color: #EBEBEB;
	padding-left: 34px;
	padding-bottom: 9px;
}

p.noui2_Note_User_Input2
{
	margin-left: .25in;
}

p.noc2_Note_Code2
{
	margin-left: .25in;
	margin-top: 0;
	margin-bottom: 0;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
	color: #333333;
	background-color: #EBEBEB;
	padding-left: 34px;
	padding-bottom: 0;
}

p.non_Note_Numbered
{
	color: #333333;
	margin-left: .528in;
	margin-top: 6px;
	margin-bottom: 6px;
	mc-auto-number-format: 'a:{n+}. ';
	mc-auto-number-position: outside-head;
	/*mc-auto-number-offset: 17px;*/
	mc-auto-number-offset: 24px;
	mc-auto-number-class: z_Numbered_List_Number;
	font-style: normal;
	background-color: #EBEBEB;
}

p.nonf_Note_Numbered_First
{
	color: #333333;
	background-color: #EBEBEB;
	margin-left: .528in;
	margin-top: 0;
	margin-bottom: 6px;
	mc-auto-number-format: 'a:{n=1}. ';
	mc-auto-number-position: outside-head;
	/*mc-auto-number-offset: 17px;*/
	mc-auto-number-offset: 24px;
	mc-auto-number-class: z_Numbered_List_Number;
	font-style: normal;
	padding-left: 34px;
	padding-top: 3px;
	padding-bottom: 9px;
	padding-right: 12px;
}

p.nonf2_Note_Numbered_First2
{
	margin-left: .778in;
	margin-top: 6px;
	margin-bottom: 6px;
	color: #333333;
	mc-auto-number-format: 'd:{a=1}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 24px;
	mc-auto-number-class: z_Numbered_List_Number;
	font-style: normal;
	background-color: #EBEBEB;
}

p.non2_Note_Numbered2
{
	margin-left: .778in;
	margin-top: 6px;
	margin-bottom: 6px;
	color: #333333;
	mc-auto-number-format: 'd:{a+}. ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 24px;
	mc-auto-number-class: z_Numbered_List_Number;
	font-style: normal;
	background-color: #EBEBEB;
}

p.nop_Note_Paragraph
{
	color: #333333;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	padding-left: 34px;
	font-style: normal;
	background-color: #EBEBEB;
	padding-top: 4px;
	padding-bottom: 9px;
	padding-right: 12px;
}

p.nop2_Note_Paragraph2
{
	color: #333333;
	margin-top: 0;
	margin-bottom: 0px;
	padding-left: 34px;
	margin-left: .25in;
	font-style: normal;
	background-color: #EBEBEB;
	padding-top: 0;
	padding-bottom: 9px;
	padding-right: 12px;
}

p.nop3_Note_Paragraph3
{
	color: #333333;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: .5in;
	font-style: normal;
	background-color: #EBEBEB;
	padding-top: 0;
	padding-bottom: 9px;
	padding-left: 34px;
	padding-right: 12px;
}

p.psn2_Project-Specific_Note2
{
	margin-left: .25in;
	mc-auto-number-format: 'Project • ';
	background-image: url('Images/note_project.png');
}

p.psn3_Project-Specific_Note3
{
	margin-left: .5in;
	mc-auto-number-format: 'Project • ';
	background-image: url('Images/note_project.png');
}

p.s_Syntax,
p.s2_Syntax2,
p.s3_Syntax3,
p.s4_Syntax4
{
	margin-left: 0;
	margin-top: 9px;
	margin-bottom: 0;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
}

p.s2_Syntax2
{
	margin-left: .25in;
}

p.s3_Syntax3
{
	margin-left: .5in;
}

p.s4_Syntax4
{
	margin-left: .75in;
}

p.sn_Security_Note
{
	mc-auto-number-format: 'Security • ';
	background-image: url('Images/note_security.png');
}

p.sn2_Security_Note2
{
	margin-left: .25in;
	mc-auto-number-format: 'Security • ';
	background-image: url('Images/note_security.png');
}

p.sn3_Security_Note3
{
	margin-left: .5in;
	mc-auto-number-format: 'Security • ';
	background-image: url('Images/note_security.png');
}

p.so_Screen_Output,
p.so2_Screen_Output2,
p.so3_Screen_Output3,
p.so4_Screen_Output4
{
	margin-left: 0;
	margin-top: 9px;
	margin-bottom: 0;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
	color: #333333;
}

p.so2_Screen_Output2
{
	margin-left: .25in;
}

p.so3_Screen_Output3
{
	margin-left: .5in;
}

p.so4_Screen_Output4
{
	margin-left: .75in;
}

p.tu_Tutorial,
p.p_Procedure_Leading,
p.l_Lab
{
	color: #333333;
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0;
	mc-auto-number-class: notename;
	margin-top: 18px;
	margin-bottom: 9px;
	background-repeat: no-repeat;
	background-position-x: 1px;
	background-position-y: 4px;
	padding-top: 6px;
	padding-bottom: 4px;
	padding-left: 24px;
	padding-right: 20px;
	font-style: italic;
	font-weight: bold;
	padding-top: 4px;
	border-top: #b7b7b7 1px solid;
}

p.tu_Tutorial
{
	background-image: url('Images/note_tutorial.png');
}

p.ui_User_Input,
p.ui2_User_Input2,
p.ui3_User_Input3,
p.ui4_User_Input4
{
	margin-left: 0;
	margin-top: 9px;
	margin-bottom: 0;
	font-weight: bold;
}

p.ui2_User_Input2
{
	margin-left: .25in;
}

p.ui3_User_Input3
{
	margin-left: .5in;
}

p.ui4_User_Input4
{
	margin-left: .75in;
}

p.vn_Version_Note,
p.vn2_Version_Note2,
p.vn3_Version_Note3
{
	mc-auto-number-format: 'Version • ';
	background-image: url('Images/note_version.png');
}

p.vn2_Version_Note2
{
	margin-left: .25in;
}

p.vn3_Version_Note3
{
	margin-left: .5in;
}

p.wl_Windows_Logo
{
	mc-auto-number-format: 'Windows Logo Guideline • ';
	background-image: url('Images/note_windows.png');
}

p.wl2_Windows_Logo2
{
	margin-left: .25in;
	mc-auto-number-format: 'Windows Logo Guideline • ';
	background-image: url('Images/note_windows.png');
}

p.wl3_Windows_Logo3
{
	margin-left: .5in;
	mc-auto-number-format: 'Windows Logo Guideline • ';
	background-image: url('Images/note_windows.png');
}

p.Copyright_Title
{
	margin-top: 14px;
	margin-bottom: 0;
	font-weight: bold;
	color: #333333;
	mc-auto-number-format: ;
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0;
	mc-auto-number-class: ;
	line-height: 15pt;
}

p.Copyright_Header
{
	margin-top: 14px;
	margin-bottom: 0;
	font-weight: bold;
	color: #333333;
	mc-auto-number-format: ;
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0;
	mc-auto-number-class: ;
	line-height: 14pt;
}

p.Copyright_Body
{
	margin-top: 9px;
	margin-bottom: 0;
	mc-auto-number-format: ;
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0;
	mc-auto-number-class: ;
}

table.Default
{
	align: left;
	margin-left: 0;
	color: #333333;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 9px;
	margin-bottom: 18px;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	vertical-align: top;
	border-left: 1px solid #ACACAC;
	border-right: 1px solid #ACACAC;
	border-top: 1px solid #ACACAC;
	border-bottom: 1px solid #ACACAC;
	border-color: #ACACAC;
}

table.Default td
{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #ACACAC;
}

table.Default th
{
	vertical-align: top;
	background-color: #c9c9c9;
}

table.Default tr
{
	vertical-align: top;
}

p.th_Table_Header
{
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	color: #FFFFFF;
	text-align: left;
}

p.tch_Table_Cell_Heading,
p.tchp_Table_Cell_Heading_Procedure
{
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	color: #00A1DE;
	text-align: left;
}

p.ta_Table_Body,
p.tca_Table_Cell_Body
{
	vertical-align: top;
	margin-top: 6px;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
}

p.tt_Table_Title,
p.tt2_Table_Title2,
p.tt3_Table_Title3,
p.ttw_Table_Title_Wide
{
	text-align: left;
	margin-left: 0;
	margin-top: 6px;
	margin-bottom: -4px;
	color: #6e6e6e;
	font-style: normal;
	font-weight: normal;
	display: default;
	padding-left: 0;
	font-size: .95em;
}

p.tb_Table_Bulleted
{
	margin-left: 0.25in;
	margin-top: 6px;
	margin-bottom: 0;
	mc-auto-number-format: '• ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 24px;
	mc-auto-number-class: z_BulletsTable;
}

p.tb2_Table_Bulleted2
{
	margin-left: 0.5in;
	margin-top: 6px;
	margin-bottom: 0;
	mc-auto-number-format: '• ';
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 24px;
	mc-auto-number-class: z_BulletsGray;
}

p.ps_Product_Subheading
{
	margin-top: 0;
	margin-bottom: 32px;
	font-weight: bold;
	color: #707070;
	font-size: 14px;
}

p.sh1_Subheading1
{
	margin-top: 24px;
	margin-bottom: -3px;
	font-weight: bold;
	font-size: 1.35em;
	color: #00A1DE;
	font-family: Calibri, 'Segoe UI', Verdana, Tahoma, Arial;
}

p.sh2_Subheading2
{
	font-size: 1.15em;
	margin-top: 24px;
	margin-bottom: -3px;
	font-weight: bold;
	color: #00A1DE;
	font-family: Calibri, 'Segoe UI', Verdana, Tahoma, Arial;
}

p.sh3_Subheading3
{
	font-size: .95em;
	font-weight: bold;
	margin-top: 24px;
	margin-bottom: -3px;
	color: #00A1DE;
	font-family: Calibri, 'Segoe UI', Verdana, Tahoma, Arial;
}

p.p_Procedure_Leading
{
	background-image: url('Images/note_task.png');
}

p.l_Lab
{
	background-image: url('Images/note_lab.png');
}

p.sal_See_Also_Link
{
	margin-top: 0;
	margin-bottom: 0;
}

p.ti_Tip
{
	mc-auto-number-format: 'Tip • ';
	background-image: url('Images/note_tip.png');
}

p.tco_Table_Code
{
	margin-top: 0;
	margin-bottom: 0;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
	text-align: left;
}

p.ta2_Table_Body2
{
	margin-left: 0.25in;
	margin-top: 4px;
	margin-bottom: 0;
}

p.tno_Table_Note,
p.tino_Table_Important_Note,
p.tc_Table_Caution,
p.tbp_Table_Best_Practice,
p.tan_Table_Advanced_Note,
p.tsn_Table_Security_Note,
p.tesn_Table_Edition-Specific_Note,
p.tti_Table_Tip,
p.twl_Table_Windows_Logo,
p.tvn_Table_Version_Note,
p.tpsn_Table_Project-Specific_Note
{
	color: #333333;
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0;
	mc-auto-number-class: notename;
	margin-top: 9px;
	margin-bottom: 0;
	background-repeat: no-repeat;
	background-position-x: 5px;
	background-position-y: 7px;
	padding-top: 7px;
	padding-bottom: 11px;
	padding-left: 32px;
	padding-right: 6px;
	font-style: normal;
	background-color: #EBEBEB;
}

p.tno_Table_Note
{
	mc-auto-number-format: 'Note • ';
	background-image: url('Images/note.png');
}

p.tino_Table_Important_Note
{
	mc-auto-number-format: 'Important • ';
	background-image: url('Images/note_important.png');
}

p.tui_Table_User_Input
{
	margin-top: 9px;
	margin-bottom: 9px;
	font-weight: bold;
}

p.tnop_Table_Note_Paragraph
{
	padding-top: 4px;
	padding-bottom: 6px;
	padding-left: 28px;
	padding-right: 6px;
	color: #333333;
	font-style: normal;
	background-color: #EBEBEB;
	margin-top: 0;
}

p.tbh_Table_Body_Header
{
	vertical-align: top;
	font-weight: bold;
	margin-top: 6px;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	color: #00A1DE;
}

p.tnf_Table_Numbered_First
{
	margin-left: 0.2in;
	margin-top: 6px;
	margin-bottom: 6px;
	mc-auto-number-format: 'j:{n=1}. ';
	mc-auto-number-position: outside-head;
	/*mc-auto-number-offset: 19.2px;*/
	mc-auto-number-offset: 24px;
	mc-auto-number-class: z_Numbered_List_Number;
}

p.tn_Table_Numbered
{
	margin-left: 0.2in;
	margin-top: 6px;
	margin-bottom: 6px;
	mc-auto-number-format: 'j:{n+}. ';
	mc-auto-number-position: outside-head;
	/*mc-auto-number-offset: 19.2px;*/
	mc-auto-number-offset: 24px;
	mc-auto-number-class: z_Numbered_List_Number;
}

p.tc_Table_Caution
{
	mc-auto-number-format: 'Caution • ';
	background-image: url('Images/note_caution.png');
}

p.pss_Procedure_Single_Step
{
	margin-top: 6px;
	margin-bottom: 9px;
}

p.GroupTitlesIX
{
	margin-top: 0;
	margin-bottom: 0;
	font-weight: bold;
	color: #00A1DE;
}

p.Level1IX
{
	margin-top: 0;
	margin-bottom: 0;
}

p.Level2IX
{
	margin-top: 0;
	margin-bottom: 0;
	text-indent: -48px;
}

a.Hyperlink:link
{
	color: #0077b3;
	text-decoration: none;
}

a.Hyperlink:visited
{
	color: #0077b3;
	text-decoration: none;
}

a.Hyperlink:hover
{
	color: #0077b3;
	text-decoration: underline;
}

a.Hyperlink:active
{
	color: #0077b3;
	text-decoration: underline;
}

a:link[href],
a:visited[href]
{
	color: #0077b3;
	text-decoration: none;
}

a:active[href],
a:hover[href]
{
	color: #0077b3;
	text-decoration: underline;
}

th
{
	vertical-align: bottom;
	background-color: #e8e8e8;
	font-weight: bold;
	color: #222000;
}

p.tk_Table_Key_Column,
p.tck_Table_Cell_Key_Column
{
	vertical-align: top;
	margin-top: 6px;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	font-weight: bold;
}

p.tcls_Table_Command-Line_Statement,
p.tcls_Table_Command_Line_Statement,
p.tcls_Table_Cell_Command-Line_Statement,
p.tcls_Table_Cell_Command_Line_Statement
{
	margin-left: 0;
	margin-top: 6px;
	margin-bottom: 6px;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
	padding-left: 22px;
	text-indent: -22px;
}

p.tcof_Table_Code_First
{
	margin-top: 6px;
	margin-bottom: 0;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
	text-align: left;
}

p.tcen_Table_Cell_Editor_Note
{
	margin-top: 6px;
	margin-bottom: 6px;
	color: #d82321;
}

p.psn_Project-Specific_Note,
p.psn_Project_Specific_Note
{
	mc-auto-number-format: 'Project • ';
	background-image: url('Images/note_project.png');
}

p.tbp_Table_Best_Practice
{
	mc-auto-number-format: 'Best Practice • ';
	background-image: url('Images/note_bp.png');
}

p.tdp_Table_Directory_Path
{
	margin-top: 6px;
	margin-bottom: 6px;
	font-weight: bold;
}

p.tini_Table_INI_File
{
	margin-top: 6px;
	margin-bottom: 6px;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
}

p.tan_Table_Advanced_Note
{
	mc-auto-number-format: 'Advanced • ';
	background-image: url('Images/note_advanced.png');
}

p.tsn_Table_Security_Note
{
	mc-auto-number-format: 'Security • ';
	background-image: url('Images/note_security.png');
}

p.tp_Table_Procedure_Leading,
p.tpss_Table_Procedure_Single_Step
{
	color: #333333;
	font-weight: bold;
	font-style: italic;
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0;
	mc-auto-number-class: notename;
	margin-top: 9px;
	margin-bottom: 0;
	background-repeat: no-repeat;
	background-position-x: 5px;
	background-position-y: 7px;
	padding-top: 4px;
	padding-bottom: 6px;
	padding-left: 28px;
	padding-right: 6px;
	background-color: #ffffff;
}

p.tp_Table_Procedure_Leading,
p.tpss_Table_Procedure_Single_Step
{
	/* mc-auto-number-format: 'Task • '; */
	background-image: url('Images/note_task.png');
}

p.tnob_Table_Note_Bullet
{
	color: #333333;
	padding-left: 50px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-style: normal;
	mc-auto-number-position: outside-head;
	mc-auto-number-offset: 19.2px;
	mc-auto-number-class: zNotItalic;
	mc-auto-number-format: '• ';
	border-top: 0;
	border-bottom: 0;
	text-decoration: none;
	background-color: #EBEBEB;
}

p.tesn_Table_Edition-Specific_Note,
p.tesn_Table_Edition_Specific_Note
{
	mc-auto-number-format: 'Edition • ';
	background-image: url('Images/note_edition.png');
}

p.ts_Table_Syntax
{
	margin-top: 6px;
	margin-bottom: 6px;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
}

p.tso_Table_Screen_Output
{
	margin-top: 6px;
	margin-bottom: 6px;
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: .85em;
	color: #333333;
}

p.tti_Table_Tip
{
	mc-auto-number-format: 'Tip • ';
	background-image: url('Images/note_tip.png');
}

p.tvn_Table_Version_Note
{
	mc-auto-number-format: 'Version • ';
	background-image: url('Images/note_version.png');
}

p.twl_Table_Windows_Logo
{
	mc-auto-number-format: 'Windows Logo Guideline • ';
	background-image: url('Images/note_windows.png');
}

img
{
	border: 0;
}

p.en_Editor_Note
{
	margin-top: 9px;
	margin-bottom: 9px;
	color: #d82321;
}

p.tn_Tutorial_Navigation
{
	margin-top: 0;
	margin-bottom: 0;
	font-weight: bold;
	color: #00A1DE;
}

p.no2_Note2
{
	margin-left: .25in;
	mc-auto-number-format: 'Note • ';
	background-image: url('Images/note.png');
}

p.ti2_Tip2
{
	margin-left: .25in;
	mc-auto-number-format: 'Tip • ';
	background-image: url('Images/note_tip.png');
}

p.ti3_Tip3
{
	margin-left: .5in;
	mc-auto-number-format: 'Tip • ';
	background-image: url('Images/note_tip.png');
}

p.no3_Note3
{
	margin-left: .5in;
	mc-auto-number-format: 'Note • ';
	background-image: url('Images/note.png');
}

table.footer
{
	color: #333333;
	margin-top: 48px;
	margin-bottom: 16px;
	width: 97%;
	border-top: #a1a1a1 1px solid;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
	font-size: 14px;
	font-family: Calibri, Segoe UI, Verdana, Tahoma, Arial;
}

table.footer td
{
	color: #333333;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	valign: top;
	font-family: Calibri, Segoe UI, Verdana, Tahoma, Arial;
}

table.footer td h2,
table.footer td h3
{
	font-family: Calibri, Segoe UI, Verdana, Tahoma, Arial;
	font-size: 14px;
	margin: 0;
	line-height: normal;
}

table.footer td h2
{
	font-weight: bold;
}

table.footer td h3
{
	font-weight: normal;
}

span.Strong
{
	font-weight: bold;
}

span.Emphasis
{
	font-style: italic;
}

span.Hyperlink
{
	color: #00A1DE;
	font-family: Calibri, Segoe UI, Verdana, Tahoma, Arial;
}

span.UI_Element
{
	font-weight: bold;
	font-family: Calibri, Segoe UI, Verdana, Tahoma, Arial;
}

span.Screen_Output
{
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	color: #333333;
}

span.User-Inputted_Text,
span.User_Inputted_Text
{
	font-weight: bold;
}

span.Variable
{
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-style: italic;
}

span.Example_Names
{
	font-weight: bold;
	font-family: Calibri, Segoe UI, Verdana, Tahoma, Arial;
}

span.Function
{
	font-weight: bold;
	font-family: Calibri, Segoe UI, Verdana, Tahoma, Arial;
}

span.Property
{
	font-weight: bold;
	font-family: Calibri, Segoe UI, Verdana, Tahoma, Arial;
}

span.Run-In_Head,
span.Run_In_Head
{
	color: #00A1DE;
	font-weight: bold;
}

span.File_Name
{
	font-weight: bold;
}

span.Syntax
{
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: 1em;
}

span.Code
{
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: 1em;
}

span.CodeHighlight
{
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-weight: bold;
	color: #00A1DE;
}

span.CodeHighlight2
{
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-weight: bold;
	color: #69BE28;
}

span.Command-Line_Parameter,
span.Command_Line_Parameter
{
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: 1em;
}

span.Database_Table
{
	font-weight: bold;
	font-family: Calibri, Segoe UI, Verdana, Tahoma, Arial;
}

span.Strong_and_Emphasis
{
	font-weight: bold;
	font-style: italic;
	font-family: Calibri, Segoe UI, Verdana, Tahoma, Arial;
}

span.notename
{
	font-weight: bold;
	color: #333333;
	font-style: normal;
	font-family: Calibri, Segoe UI, Verdana, Tahoma, Arial;
}

span.API
{
	font-weight: bold;
	font-family: Calibri, Segoe UI, Verdana, Tahoma, Arial;
}

span.Directory_Path
{
	font-weight: bold;
}

span.Environment_Variable
{
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: 1em;
}

span.Hyperlink_UI_Element
{
	font-weight: bold;
	color: #00A1DE;
	font-family: Calibri, Segoe UI, Verdana, Tahoma, Arial;
}

span.INI_File
{
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: 1em;
}

span.Parameter
{
	font-family: Consolas, Lucida Console, Lucida Sans Typewriter, Courier, Courier New;
	font-size: 1em;
}

span.z_Numbered_List_Number
{
	font-weight: bold;
	font-family: Calibri, Segoe UI, Verdana, Tahoma, Arial;
	/*padding-left: 6px;*/
	padding-left: 0;
}

span.z_BulletsBig
{
	font-family: Verdana, Tahoma;
	font-weight: bold;
	color: #333333;
	font-size: 1em;
	/*padding-left: 6px;*/
	padding-left: 0px;
}

td.AutoNumber_p_nob2_Note_Bullet22 span.z_BulletsBig
{
	padding-left: 0;
}

span.zNotItalic
{
	font-family: Verdana, Tahoma;
	font-weight: bold;
	color: black;
	font-size: 1em;
}

span.z_BulletsGray
{
	font-family: Verdana, Tahoma;
	font-weight: bold;
	color: #959595;
	font-size: 1em;
}

span.z_BulletsTable
{
	font-family: Verdana, Tahoma;
	font-weight: bold;
	color: #00A1DE;
	font-size: 1em;
}

xref.GeneralCrossRef
{
	mc-format: '{color #0077b3}{paratext}{/color}';
	text-decoration: none;
}

xref:hover
{
	color: #0077b3;
	text-decoration: underline;
}

xref
{
	color: #0077b3;
	text-decoration: none;
}

xref:focus
{
	color: #0077b3;
	text-decoration: underline;
}

xref.GeneralCrossRefBold
{
	mc-format: '{color #0077b3}{paratext}{/color}';
	text-decoration: none;
	font-weight: bold;
}

xref.GeneralCrossRefBold:focus
{
	color: #0077b3;
	text-decoration: underline;
	font-weight: bold;
}

xref.GeneralCrossRefBold:hover
{
	color: #0077b3;
	text-decoration: underline;
	font-weight: bold;
}

xref.GeneralCrossRef:focus
{
	color: #0077b3;
	text-decoration: underline;
}

xref.GeneralCrossRef:hover
{
	color: #0077b3;
	text-decoration: underline;
}

xref.Link:focus
{
	color: #0077b3;
	text-decoration: underline;
}

xref.Link:hover
{
	color: #0077b3;
	text-decoration: underline;
}

xref.Step
{
	mc-format: '{color #0077b3}Step {paranum}{/color}';
	text-decoration: none;
}

xref.Step:focus
{
	color: #0077b3;
	text-decoration: underline;
}

/* MARKED TERM WITHIN TOPIC BODY */

xref.Step:hover
{
	color: #0077b3;
	text-decoration: underline;
}

/*

html.Redirects
{
	mc-master-page: url('../MasterPages/RedirectMaster.flmsp');
}

*/

p.ten_Table_Editor_Note,
p.tcen_Table_Cell_Editor_Note
{
	margin-top: 9px;
	margin-bottom: 9px;
	color: #d82321;
}

p.tpsn_Table_Project-Specific_Note,
p.tpsn_Table_Project_Specific_Note,
p.tcpsn_Table_Cell_Project-Specific_Note,
p.tcpsn_Table_Cell_Project_Specific_Note
{
	mc-auto-number-format: 'Project • ';
	background-image: url('Images/note_project.png');
}

glossaryTerm,
.glossaryTerm
{
	text-decoration: none;
	color: #228b22;
}

MadCap|popupBody
{
	color: #636363;
	background-color: #FFFFE0;
	border-bottom-color: #a9a9a9;
	border-left-color: #a9a9a9;
	border-right-color: #a9a9a9;
	border-top-color: #a9a9a9;
	padding: 9px;
	font-type: normal;
}

.GlossaryPageTerm
{
	font-weight: bold;
	color: #528A40;
	margin-top: 6px;
	margin-bottom: 0;
	text-decoration: none;
}

.GlossaryPageDefinition
{
	color: #333333;
	margin-top: 0;
	margin-bottom: 6px;
	text-decoration: none;
}

span.Glossary_Term
{
	font-family: Calibri, Segoe UI, Verdana, Tahoma, Arial;
	font-style: italic;
}

.GlossaryPageEntry
{
	color: #333333;
	text-decoration: none;
}

.GlossaryPageHeading
{
	color: #333333;
}

p.lfnc_Logo_FLEXnet_Connect
{
	text-align: left;
	margin-left: 2.25in;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	color: #333333;
	mc-hyphenate: never;
	mc-auto-number-format: ;
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0;
	mc-auto-number-class: CHAPTER;
	text-indent: 0;
	line-height: 9pt;
	text-decoration: none;
}

p.t_Title
{
	text-align: left;
	margin-left: 2.25in;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 12px;
	font-weight: normal;
	font-style: normal;
	font-size: 1.85em;
	letter-spacing: 0em;
	color: #333333;
	mc-hyphenate: never;
	mc-auto-number-format: ;
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0;
	mc-auto-number-class: CHAPTER;
	text-indent: 0;
	line-height: 34pt;
	text-decoration: none;
}

p.bt_BookType
{
	text-align: left;
	margin-left: 2.25in;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 16px;
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em;
	letter-spacing: 0em;
	color: #7f7f7f;
	mc-hyphenate: never;
	mc-auto-number-format: ;
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0;
	mc-auto-number-class: CHAPTER;
	text-indent: 0;
	line-height: 24pt;
	text-decoration: none;
}

p.ct_Copyright_Title
{
	text-align: left;
	margin-left: 0;
	margin-right: 0;
	margin-top: 24px;
	margin-bottom: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 1.85em;
	letter-spacing: 0em;
	color: #333333;
	mc-hyphenate: never;
	mc-auto-number-format: ;
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0;
	text-indent: 0;
	line-height: 22pt;
	text-decoration: none;
}

p.ch_Copyright_Header
{
	text-align: left;
	margin-left: 0;
	margin-right: 0;
	margin-top: 16px;
	margin-bottom: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 1.0em;
	letter-spacing: 0em;
	color: #7f7f7f;
	mc-hyphenate: never;
	mc-auto-number-format: ;
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0;
	text-indent: 0;
	line-height: 16pt;
	text-decoration: none;
}

p.cb_Copyright_Body
{
	text-align: left;
	margin-left: 0;
	margin-right: 0;
	margin-top: 6px;
	margin-bottom: 0;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	color: #333333;
	mc-hyphenate: never;
	mc-auto-number-format: ;
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0;
	text-indent: 0;
	line-height: 10pt;
	text-decoration: none;
}

p.con_Contents
{
	text-align: left;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 90px;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	color: #323299;
	mc-hyphenate: never;
	text-indent: 0;
	line-height: 37px;
	text-decoration: none;
}

p.ct_Chapter_TitleTOC
{
	text-align: left;
	margin-left: 0;
	margin-right: 0;
	margin-top: 24px;
	margin-bottom: 0;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	color: #323299;
	text-indent: 0;
	line-height: 17px;
	text-decoration: none;
}

p.h1_Heading1TOC,
p.h1t_Heading1_TopTOC
{
	text-align: left;
	margin-left: 0.25in;
	margin-right: 0;
	margin-top: 5pt;
	margin-bottom: 0;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	color: #333333;
	text-indent: 0;
	line-height: 15px;
	text-decoration: none;
}

p.h2_Heading2TOC
{
	text-align: left;
	margin-left: 0.4in;
	margin-right: 0;
	margin-top: 4px;
	margin-bottom: 0;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	color: #333333;
	text-indent: 0;
	line-height: 11pt;
	text-decoration: none;
}

p.h3_Heading3TOC
{
	text-align: left;
	margin-left: 0.6in;
	margin-right: 0;
	margin-top: 4px;
	margin-bottom: 0;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	color: #323299;
	text-indent: 0;
	line-height: 11pt;
	text-decoration: none;
}

p.h4_Heading4TOC
{
	text-align: left;
	margin-left: 0;
	margin-right: 0;
	margin-top: 4px;
	margin-bottom: 0;
	font-weight: normal;
	font-style: italic;
	letter-spacing: 0em;
	color: #333333;
	text-indent: 72px;
	line-height: 11pt;
	text-decoration: none;
}

p.pt_Part_TitleTOC
{
	text-align: left;
	margin-left: 0.5in;
	margin-right: 0;
	margin-top: 26px;
	margin-bottom: 0;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	color: #323299;
	text-indent: -48px;
	line-height: 17pt;
	text-decoration: none;
}

p.pn_Part_Number
{
	text-align: left;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 9px;
	font-weight: normal;
	font-style: normal;
	letter-spacing: -0.03em;
	color: #323299;
	mc-hyphenate: never;
	mc-auto-number-format: 'P:Part {volnum}';
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0;
	text-indent: 0;
	line-height: 49pt;
	text-decoration: none;
}

p.at_Body_Top_of_Column
{
	text-align: left;
	margin-left: 0.75in;
	margin-right: 0;
	margin-top: 6px;
	margin-bottom: 6px;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	color: #333333;
	mc-hyphenate: never;
	text-indent: 0;
	line-height: 13pt;
	text-decoration: none;
}

p.h5_Heading5TOC
{
	text-align: left;
	margin-left: 1in;
	margin-right: 0;
	margin-top: 4px;
	margin-bottom: 0;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 0em;
	color: #666666;
	text-indent: 0;
	line-height: 10pt;
	text-decoration: none;
}

p.h6_Heading6TOC
{
	text-align: left;
	margin-left: 1.25in;
	margin-right: 0;
	margin-top: 4px;
	margin-bottom: 0;
	font-weight: normal;
	font-style: italic;
	letter-spacing: 0em;
	color: #666666;
	text-indent: 0;
	line-height: 10pt;
	text-decoration: none;
}

p.z_Header_Left
{
	text-align: left;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Segoe UI';
	font-weight: bold;
	font-style: normal;
	font-size: .85em;
	letter-spacing: 0em;
	color: #333333;
	mc-hyphenate: never;
	text-indent: 0;
	line-height: 10pt;
	text-decoration: none;
}

p.z_Header_Left_H1
{
	text-align: left;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Segoe UI';
	font-weight: normal;
	font-style: normal;
	font-size: .85em;
	letter-spacing: 0em;
	color: #666666;
	mc-hyphenate: never;
	text-indent: 0;
	line-height: 8pt;
	text-decoration: none;
}

p.z_Footer_Left
{
	text-align: left;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Segoe UI';
	font-weight: normal;
	font-style: normal;
	font-size: .85em;
	letter-spacing: 0em;
	color: #666666;
	mc-hyphenate: never;
	text-indent: 0;
	line-height: 8pt;
	text-decoration: none;
}

span.z_Page_Number
{
	font-family: Calibri, Segoe UI, Verdana, Tahoma, Arial;
	font-weight: bold;
	font-style: normal;
	font-size: .85em;
	letter-spacing: 0em;
	color: #0065bc;
	line-height: 9pt;
	text-decoration: none;
}

p.z_Header_Right
{
	text-align: right;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Segoe UI';
	font-weight: bold;
	font-style: normal;
	font-size: .85em;
	letter-spacing: 0em;
	color: #333333;
	mc-hyphenate: never;
	text-indent: 0;
	line-height: 10pt;
	text-decoration: none;
}

p.z_Header_Right_H1
{
	text-align: right;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Segoe UI';
	font-weight: normal;
	font-style: normal;
	font-size: .85em;
	letter-spacing: 0em;
	color: #666666;
	mc-hyphenate: never;
	text-indent: 0;
	line-height: 8pt;
	text-decoration: none;
}

p.z_Footer_Right
{
	text-align: left;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Segoe UI';
	font-weight: normal;
	font-style: normal;
	font-size: .85em;
	letter-spacing: 0em;
	color: #666666;
	mc-hyphenate: never;
	text-indent: 0;
	line-height: 8pt;
	text-decoration: none;
}

p.z_Chapter_Number
{
	text-align: right;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Segoe UI';
	font-weight: bold;
	font-style: normal;
	font-size: 4em;
	letter-spacing: 0em;
	color: #0065bc;
	mc-hyphenate: never;
	mc-auto-number-format: '{chapnum}';
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0;
	text-indent: 0;
	line-height: 120pt;
	text-decoration: none;
}

span.z_NoteName
{
	font-family: 'Segoe UI';
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0em;
	color: #0065bc;
	text-decoration: none;
}

span.z_Procedure
{
	font-family: 'Segoe UI';
	font-weight: bold;
	font-style: normal;
	letter-spacing: 0em;
	color: #333333;
	text-decoration: none;
}

MadCap|xref.AppNumTitle
{
	mc-format: '{Hyperlink}Appendix {chapnum}, {paratext}{Default ¹ Font}';
}

MadCap|xref.ChapNumTitle
{
	mc-format: '{Hyperlink}Chapter {chapnum}, {paratext}{Default ¹ Font}';
}

MadCap|xref.Figure
{
	mc-format: '{Hyperlink}Figure {paranumonly}{Default ¹ Font}';
}

MadCap|xref.GlossaryText
{
	mc-format: '{Glossary Term}{paratext}{Default ¹ Font}';
}

MadCap|xref.Heading_And_Page
{
	mc-format: '{Hyperlink}{paratext}{Default ¹ Font} on page {Hyperlink}{page}{Default ¹ Font}';
}

MadCap|xref.PageOnly
{
	mc-format: '{Hyperlink}{page}{Default ¹ Font}';
}

MadCap|xref.PartNumTitle
{
	mc-format: '{Hyperlink}Part {volnum}, {paratext}{Default ¹ Font}';
}

MadCap|xref.Table
{
	mc-format: '{Hyperlink}Table {paranumonly}{Default ¹ Font}';
}

MadCap|xref.Table_Number_And_Page
{
	mc-format: '{Hyperlink}Table {paranumonly}{Default ¹ Font} on page {Hyperlink}{page}{Default ¹ Font}';
}

MadCap|xref.Table_All
{
	mc-format: '{Hyperlink}Table {paranumonly}, {paratext}{Default ¹ Font}, on page {Hyperlink}{page}{Default ¹ Font}';
}

p.Body
{
	text-align: left;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Times New Roman';
	font-weight: normal;
	font-style: normal;
	font-size: 12pt;
	letter-spacing: 0em;
	color: #333333;
	text-indent: 0;
	line-height: 14pt;
	text-decoration: none;
}

span.EquationVariables
{
	font-style: italic;
}

span.z_MasterPageBlue
{
	font-family: 'Segoe UI';
	font-weight: bold;
	font-style: normal;
	font-size: 7pt;
	letter-spacing: 0em;
	color: #0075c6;
	line-height: 9pt;
	text-decoration: none;
}

/* FROM TOPIC.CSS -- AUTOMATICALLY CREATED BY FLARE DURING BUILD */

table.AutoNumber_p_b_Bulleted
{
	margin-left: .25in;
	margin-right: 0;
	margin-top: 9px;
	margin-bottom: 9px;
}

td.AutoNumber_p_b_Bulleted
{
	font-family: Calibri, Segoe UI, Verdana, Tahoma, Arial;
	font-size: 1em;
	line-height: 140%;
	color: #333333;
}

table.AutoNumber_p_b2_Bulleted2
{
	margin-left: .5in;
	margin-right: 0;
	margin-top: 9px;
	margin-bottom: 9px;
}

table.AutoNumber_p_b3_Bulleted3
{
	margin-left: .75in;
	margin-right: 0;
	margin-top: 9px;
	margin-bottom: 9px;
}

table.AutoNumber_p_nob_Note_Bullet
{
	margin-left: .528in;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	background-color: #EBEBEB;
}

td.AutoNumber_p_nob_Note_Bullet
{
	color: #333333;
	font-style: normal;
	background-color: #EBEBEB;
	font-family: Calibri, Segoe UI, Verdana, Tahoma, Arial;
	font-size: 1em;
	line-height: 140%;
	padding-bottom: 4px;
}

td.AutoNumber_p_nob_Note_Bullet2
{
	color: #333333;
	font-style: normal;
	font-family: Calibri, Segoe UI, Verdana, Tahoma, Arial;
	font-size: 1em;
	line-height: 140%;
	padding-left: 8px;
	padding-right: 8px;
	text-align: left !important;
}

table.AutoNumber_p_nonf_Note_Numbered_First td.AutoNumber_p_nob_Note_Bullet2
{
	padding-left: 1px;
	padding-right: 4px;
}

table.AutoNumber_p_nob2_Note_Bullet2
{
	margin-left: .778in;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	background-color: #ebebeb;
}

td.AutoNumber_p_nob2_Note_Bullet2
{
	color: black;
	font-style: normal;
	background-color: #EBEBEB;
	font-family: Calibri, Segoe UI, Verdana, Tahoma, Arial;
	font-size: 1em;
	line-height: 140%;
	padding-bottom: 4px;
}

td.AutoNumber_p_nob2_Note_Bullet22
{
	color: black;
	font-style: normal;
	font-family: Calibri, Segoe UI, Verdana, Tahoma, Arial;
	font-size: 1em;
	line-height: 140%;
	padding-bottom: 4px;
}

table.AutoNumber_p_nonf_Note_Numbered_First
{
	/*padding-left: 34px;
	padding-top: 3px;
	padding-bottom: 9px;
	padding-right: 12px;*/
	padding: 0;
	margin-left: .528in;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	background-color: #EBEBEB;
}

table.AutoNumber_p_tb_Table_Bulleted
{
	margin-left: 0.25in;
	margin-right: 0;
	margin-top: 6px;
	margin-bottom: 0;
}

table.AutoNumber_p_tb2_Table_Bulleted2
{
	margin-left: 0.5in;
	margin-right: 0;
	margin-top: 6px;
	margin-bottom: 0;
}

table.AutoNumber_p_tnf_Table_Numbered_First
{
	margin-left: 0.2in;
	margin-right: 0;
	margin-top: 6px;
	margin-bottom: 6px;
}

table.AutoNumber_p_tnob_Table_Note_Bullet
{
	padding-left: 0;
	padding-top: 0;
	padding-bottom: 0;
	text-decoration: none;
	text-decoration-blink: false;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
}

td.AutoNumber_p_tnob_Table_Note_Bullet
{
	color: #333333;
	font-style: normal;
	border-top: 0;
	border-bottom: 0;
	text-decoration: none;
	background-color: #EBEBEB;
	font-family: Calibri, Segoe UI, Verdana, Tahoma, Arial;
	font-size: 1em;
	line-height: 140%;
}

td.AutoNumber_p_tnob_Table_Note_Bullet2
{
	color: #333333;
	font-style: normal;
	text-decoration: none;
	font-family: Calibri, Segoe UI, Verdana, Tahoma, Arial;
	font-size: 1em;
	line-height: 140%;
	background-color: #ebebeb;
	padding-left: 30px;
	padding-right: 10px;
}

table.AutoNumber_p_nob_Note_Bullet td.AutoNumber_p_nob_Note_Bullet2
{
	padding-left: 1px;
	padding-right: 4px;
}

/*
p.hst_Heading_Subtopics {

	background-image: url('Images/note_toc.png');
	color: #333333;
	mc-auto-number-position: inside-head;
	mc-auto-number-offset: 0;
	mc-auto-number-class: notename;
	margin-top: 18px;
	margin-bottom: 9px;
	background-repeat: no-repeat;
	background-position-x: 1px;
	background-position-y: 4px;
	padding-top: 6px;
	padding-bottom: 4px;
	padding-left: 24px;
	padding-right: 20px;
	font-style: italic;
	font-weight: bold;
	padding-top: 4px;
	border-top: #b7b7b7 1px solid;
}

p.h1_Heading1MTOC {
	margin-top: 2px;
	margin-bottom: 2px;
	font-weight: bold;
	color: #00A1DE;
	
}
*/

